<div [ngStyle]="mapDivStyle()">
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text"' [size]=80 [line]=1 [column]=1
                [(ngModel)]='text'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text2"' [size]=80 [line]=2 [column]=1
                [(ngModel)]='text2'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text3"' [size]=80 [line]=3 [column]=1
                [(ngModel)]='text3'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text4"' [size]=80 [line]=4 [column]=1
                [(ngModel)]='text4'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text5"' [size]=80 [line]=5 [column]=1
                [(ngModel)]='text5'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text6"' [size]=80 [line]=6 [column]=1
                [(ngModel)]='text6'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text7"' [size]=80 [line]=7 [column]=1
                [(ngModel)]='text7'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text8"' [size]=80 [line]=8 [column]=1
                [(ngModel)]='text8'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text9"' [size]=80 [line]=9 [column]=1
                [(ngModel)]='text9'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text10"' [size]=80 [line]=10 [column]=1
                [(ngModel)]='text10'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text11"' [size]=80 [line]=11 [column]=1
                [(ngModel)]='text11'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text12"' [size]=80 [line]=12 [column]=1
                [(ngModel)]='text12'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text13"' [size]=80 [line]=13 [column]=1
                [(ngModel)]='text13'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text14"' [size]=80 [line]=14 [column]=1
                [(ngModel)]='text14'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text15"' [size]=80 [line]=15 [column]=1
                [(ngModel)]='text15'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text16"' [size]=80 [line]=16 [column]=1
                [(ngModel)]='text16'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text17"' [size]=80 [line]=17 [column]=1
                [(ngModel)]='text17'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text18"' [size]=80 [line]=18 [column]=1
                [(ngModel)]='text18'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text19"' [size]=80 [line]=19 [column]=1
                [(ngModel)]='text19'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text20"' [size]=80 [line]=20 [column]=1
                [(ngModel)]='text20'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text21"' [size]=80 [line]=21 [column]=1
                [(ngModel)]='text21'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text22"' [size]=80 [line]=22 [column]=1
                [(ngModel)]='text22'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text23"' [size]=80 [line]=23 [column]=1
                [(ngModel)]='text23'></dynamic-field></div>
    </div>
    <div class='lgr_col'>
        <div class='lgr_80 col_01'><dynamic-field [id]='"text24"' [size]=80 [line]=24 [column]=1
                [(ngModel)]='text24'></dynamic-field></div>
    </div>
</div>